@page "/counter3"
@using DynamicBlazor.Services
<h3>Counter3</h3>
New<br />
@SharedCounterService.GetCounter()
<button @onclick="inc">increment</button>
<br />
<br />
@_moduleOnlyService.GetNext()
<button @onclick="inc2">increment</button>