@page "/counter3"
@using DynamicBlazor.Services
@inject TestService TestService
<h3>Counter3</h3>
New<br />
@TestService.GetCounter()
<button @onclick="inc">increment</button>
@code {

    void inc()
    {
        TestService.IncrementCounter();
    }
}