@page "/counter"
@inject IJSRuntime Jsr
@implements IAsyncDisposable

<h1>Counter</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

Click the button and you'll see a progress bar build with react
<div id="reactProgressBar"></div>
This progress bar is coming from wwwroot/js/Counter.js and is imported in the index.html file

@code {
    private int _currentCount;
    private Lazy<IJSObjectReference> _exampleModule = new();

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            Console.WriteLine("POTATO");
            _exampleModule = new Lazy<IJSObjectReference>(await Jsr.InvokeAsync<IJSObjectReference>("import", "./pages/Counter.razor.js"));
        }
    }

    public async ValueTask DisposeAsync()
    {
        if (_exampleModule.IsValueCreated)
        {
            await _exampleModule.Value.DisposeAsync();
        }
    }

    private async void IncrementCount()
    {
        _currentCount++;
        await _exampleModule.Value.InvokeVoidAsync("RenderProgressBar2", _currentCount);
        //await Jsr.InvokeVoidAsync("exampleFunction", currentCount);
    }
}
