@page "/"
@inject SharedCounterService SharedCounterService
<h1>Hello, world!</h1>

Counter Page is an example of loading a progress bar with React

<br />

Load From Azure is a page which is loaded from a remote DLL that is hosted in Azure and added to the list of assemblies Blazor can call upon at runtime.
<br />
<br />
Test Service Value: @SharedCounterService.GetCounter()

<button @onclick="Increment">INCREMENT COUNTER</button>

@code
{
    void Increment()
    {
        SharedCounterService.IncrementCounter();
        StateHasChanged();
    }
}
